
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 96% 64%;
    --foreground: 240 10% 4%;
    --card: 44 96% 64%;
    --card-foreground: 240 10% 4%;
    --popover: 44 96% 64%;
    --popover-foreground: 240 10% 4%;
    --primary: 158 82% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 15% 88%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 40 15% 88%;
    --muted-foreground: 224 71.4% 35%;
    --accent: 158 82% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 4%;
    --input: 240 10% 4%;
    --ring: 158 82% 35%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
