
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 17% 94%;
    --foreground: 0 0% 13%;

    --card: 36 17% 94%;
    --card-foreground: 0 0% 13%;

    --popover: 36 17% 94%;
    --popover-foreground: 0 0% 13%;

    --primary: 45 52% 53%;
    --primary-foreground: 0 0% 13%;

    --secondary: 40 15% 88%;
    --secondary-foreground: 0 0% 9%;

    --muted: 40 15% 88%;
    --muted-foreground: 0 0% 45%;

    --accent: 70 27% 37%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 45 52% 53%;
    
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
